.centered_artin
{
    text-align: center;
}

.large
{
    font-size: large;
}

.medium
{
    font-size: medium;
}

.small
{
    font-size: small;
}
.large_60
{
    font-size: 234px;
    color: white;
}

button {
    background-color: red;
    width: 700px;
    height: 100px;
    font-size: 39px;
}
button:hover {
    background-color: #1898db;
}
body {
    background-color: #3498db;
}
button {
    background-color: green;
    color: yellow;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
